p{
	font-family: Verdana;
	text-align: center;
}


h1{
	font-family: Verdana;
	font-size: 120%;
	color: black;
	text-align: center;
}

h2{
	font-family: Verdana;
	font-size: 110%;
	color: black;
	text-align: center;
}

h3{
	font-family: Verdana;
	font-size: 105%;
	color: black;
	text-align: center;
}

img{
	box-shadow: 10px 10px 5px grey;
}

/* # = id, . = class */

#hoofdtitel{
	font-size: 250%;
	border-bottom-style: solid;
}

#introtable{
	font-weight: bold;
	text-align: center;
}

#introtable td{
	width: 20%;	
}

#docstable{
	font-weight: bold;
}

#docstable td{
	width: 25%;
	border: 1px solid #ddd;
}

#tableheader td{
	background-color: #ffa500;
}

#JaNeen {
	font-family: Verdana;
	text-align: center;
}

#Home{
	text-align: left;
	font-family: Verdana;
	font-weight: bold;
}

#Home p{
	text-align: left;
	font-family: Verdana;
	font-weight: bold;
}

.centerTable{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#header_logo{
	text-align: center;
}